### Software Engineer, Google
<h5> Kitchener/Waterloo, ON <span class="float-right">July 2019 - Present</span> </h5>
* Google Cloud Tracing/Debugger

### Research Assistant, Computer Systems Labs 
<h5> University of British Columbia, Vancouver, BC <span class="float-right">Sep 2016 - June 2019</span> </h5>
* Profile-guided Data Structure Optimizations

### Software Engineer Intern, Google
<h5> Sunnyvale, CA <span class="float-right">May 2018 - Aug 2018</span> </h5>
* Google-Wide profiling team, data structures fields reordering.

### Software Engineer Intern, Microsoft 
<h5> Vancouver, BC <span class="float-right">Jan 2018 - Apr 2018</span> </h5>
* Backend leaderboard service at a multi-million-user scale

### Software Developer Intern, Activision Blizzard, Demonware
<h5> Vancouver, BC <span class="float-right">Sep - Dec 2015</span> </h5>
* Distributed cache framework at a multi-million-user scale

### Research Assistant, Multicore Systems and Parallel Computing Lab
<h5>Simon Fraser University, Burnaby, BC <span class="float-right">Jan - Aug 2015</span></h5>
* Special data structures for a lock-free programming framework

### Software Developer Intern, BlackBerry
<h5>Mississauga, ON  <span class="float-right">May - Aug 2014</span> </h5>
* IP Multimedia Subsystem, scripting tools automation.

### Teaching Assistant of Operating Systems Course (CPEN 331)
<h5> University of British Columbia  <span class="float-right">Sep - Dec 2017</span> </h5>
* Hack a real OS kernel written in C.

### Group leader of research trip to information technology companies
<h5> Tencent (Shenzhen, China) and Huawei (Hangzhou, China) <span class="float-right">Jul 2013 – Aug 2014</span> </h5>
* Research on operational and technical details of Tencent and Huawei.

### Student Leader of Dual Degree Program (DDP) of ZJU and SFU
<h5>Zhejiang University and Simon Fraser University <span class="float-right">Aug 2011 - May 2016</span> </h5>
* Organized activities for international students in the program.

