
#### Distributed System - Emulator for Disaggregated Data Center
<h5> University of British Columbia <span class="float-right"><i>(Private Repo)</i> Sep - Dec 2017</span></h5>
* Collaboratively built a P2P style distributed system that simulates disaggregated data center environment, where special hardware supports flexible RAMs and CPUs allocations, on an ordinary server cluster.
* Built Linux kernel modules (written in C) for swap devices and kernel thread, which make the server cluster support remote memory accesses for any user-space applications.


<h4> <a href="https://dinamite-toolkit.github.io/">Instrumentation Tool - DINAMITE</a></h4>
<h5>University of British Columbia <span class="float-right"> Sep 2016 – May 2017</span></h5>
* Collaboratively built a tool consisting of runtime library and an extended LLVM pass, a compiler frontend written in C++, to instrument C/C++ programs to collect runtime information like memory accesses and function invocations.
* Adopted distributed IDs generation and dynamic programming to accelerate the instrumentation compilation.


#### OS Kernel - OS161
<h5> University of British Columbia <span class="float-right"><i>(Private Repo)</i> Jan - May 2017</span></h5>
* Hacked OS161, a real OS kernel written in C running on MIPS architecture, to implement virtual memory system, processes management system, and file IO system calls, which consist of memory core map, page tables, TLB management, PIDs management, etc.


<h4><a href="https://github.com/fontify">Backend Service - Fontify, a tool for converting handwriting picture into digital font</a></h4>
<h5> Hackathon nwHacks <span class="float-right">Feb 2016</span></h5>
* Collaboratively built a full-stack web-server app with Flask, a Python backend framework, in 24 hours. The app pipelines processes of user interaction, image distortion, and scalable vector graphics conversion to generate the digital font.


#### Analysis of relationships between power efficiency and CPU/GPU frequencies
<h5> University of British Columbia <span class="float-right"><i>(Private Repo)</i> Sep – Dec 2016</span></h5>
* Designed and implemented empirical experiments to analyze the influence of processors frequency to power efficiency on Jetson TK1 and TX1 platforms (system-on-a-chip architecture).
* Implemented the workload with CUDA to process irregular applications (graph algorithms).


#### Distributed Cache System
<h5>Activision Blizzard<span class="float-right"><i>(Private Repo)</i> Sep – Dec 2015</span></h5>
* Proposed & implemented a distributed cache framework for the backend service (mainly written in Python) of a popular game to enhance the performance of backend marketplace APIs in handling large number of read requests (millions of RPS at peak) while providing the ability to reflect the latest value of write requests.
* Implemented a topic-subscribe style feature to efficiently change states of relevant cache entries on write request.
* Implemented a fresh-on-read style feature to avoid unnecessary network traffics on read request.
* Adopted MySQL and Redis as the in-memory storage for the cache content.


#### Backend Data Monitoring Systems
<h5> Computer Network Lab, Simon Fraser University <span class="float-right"><i>(Private Repo)</i> May - Oct, 2015</span></h5>
* Built a polling style backend system, written in Ruby and backed by Ruby on Rails and MySQL, to collect real-time data from various types of sensors for monitoring current and historical usages of a large server cluster.


#### Distributed File System
<h5> Simon Fraser University <span class="float-right"><i>(Private Repo)</i> Jan - May 2015</span></h5>
* Built a C++ written distributed file system with replicas to ensure high availability in the scenario of node’s crash.
* Built a write-ahead-logging mechanism to ensure the correctness of random failure recovery.


#### Natural Language Processor
<h5> Simon Fraser University <span class="float-right"><i>(Private Repo)</i> Sep - Dec 2014</span></h5>
* Collaboratively built an NLP project.
* Built segmenting feature to translate none-segmented language written in hieroglyphic, translating feature based on big-data set and machine learning algorithm, and reranking feature to select better translation results.


#### Compiler - Towhee
<h5> Simon Fraser University <span class="float-right"><i>(Private Repo)</i> Sep - Dec 2014</span></h5>
* Built a compiler for Towhee, a strong-type object-oriented programming language with explicit and implicit releasing feature (similar to garbage collection).
* Wrote more than 10,000 lines of code in Java to build up the project.
* The target code of the compiler is an ASM-like intermediate code executed by a JVM-like virtual machine.


<h4><a href="https://github.com/Louis-Ye/Logo-470">Programming Language Interpreter - Express LOGO</a></h4>
<h5> Simon Fraser University <span class="float-right">Jan–Apr 2014</span></h5>
* Collaboratively built an online website equipped with a JavaScript written interpreter running on the frontend for LOGO, a robotics and children friendly programming language
* Developed with Angular.js, Express JS, Bootstrap.


<h4><a href="https://github.com/Louis-Ye/FibonacciHeap">Data Structure Library - Fibonacci Heap</a></h4>
<h5> Open Source Project <span class="float-right">Sep - Dec 2013</span></h5>
* Implemented a version of Fibonacci Heap (a special type of priority queue) library for C++ in conforming with the APIs in C++ STL library.
* The library provides constant time complexity for operations like inserting, key decreasing, merging, and peeking, while providing O(logN) amortized time complexity for operations like popping the head.


<h4><a href="https://github.com/Louis-Ye/ZheNarWeb">Navigation App - Zhe Nar</a></h4>
<h5> Zhejiang University <span class="float-right">Mar – Jun 2013</span></h5>
* Collaboratively Built a campus navigation app with Objective-C and Python(Django).
* The app runs on both iOS and web platforms.
* The app helps students navigate through Zhejiang university and keeps up with the latest campus events. 


#### 2D strategy game - CuTe Crazy Stone 
<h5> Zhejiang University <span class="float-right"><i>(Private Repo)</i> Sep 2012 – Jan 2013</span></h5>
* Collaboratively built the game with C++, the physical engine Box2D, and the graphic library QT.

