
<h3>Instrumentation Tool - <a href="https://dinamite-toolkit.github.io/">DINAMITE</a></h3>
<h5>University of British Columbia <span class="float-right"> Sep 2016 – May 2017</span></h5>
* Collaboratively built a tool consisting of runtime library and an extended LLVM pass, a compiler frontend written in C++, to instrument C/C++ programs to collect runtime information like memory accesses and function invocations.
* Adopted distributed IDs generation and dynamic programming to accelerate the instrumentation compilation.

